---
title: 'Analyse des résultats des tests d’AEM Cloud Manager '
description: Explorer et corriger les résultats des rapports à partir d’AEM Cloud Manager
role: Developer
level: Beginner
type: Tutorial
topic: Développement
feature: Outils de développement
kt: 6917
thumbnail: 330540.jpg
source-git-commit: e295d77a11c99310aaae10ecb8a2eaa20ad49285
workflow-type: tm+mt
source-wordcount: '84'
ht-degree: 20%

---


# Analyse des résultats des tests

>[!CONTEXTUALHELP]
>id="aemcloud_devops_testresult"
>title="Analyse des résultats des tests"
>abstract="Explorer les erreurs de compilation dans votre code et si ce code suit ou non les bonnes pratiques pour AEM en tant que Cloud Service"
>additional-url="https://experienceleague.adobe.com/docs/experience-manager-cloud-manager/using/how-to-use/understand-your-test-results.html?lang=fr#how-to-use" text="Présentation des résultats de tests"

Explorer les erreurs de compilation dans votre code et déterminer si ce code suit ou non les bonnes pratiques pour AEM en tant que Cloud Service

>[!VIDEO](https://video.tv.adobe.com/v/330540/?quality=12&learn=on)
