---
title: 'Analyser les résultats des tests AEM Cloud Manager '
description: Explorez et corrigez les résultats des rapports d’AEM Cloud Manager.
role: Developer
level: Beginner
type: Tutorial
topic: Development
feature: Developer Tools
kt: 6917
thumbnail: 330540.jpg
translation-type: tm+mt
source-git-commit: 5ac82928d4b0bf75b348a414793c24c3aca92f36
workflow-type: tm+mt
source-wordcount: '42'
ht-degree: 0%

---


# Analyser les résultats des tests

Explorer les erreurs de compilation dans votre code et déterminer si ce code suit ou non les bonnes pratiques pour AEM en tant que Cloud Service

>[!VIDEO](https://video.tv.adobe.com/v/330540/?quality=12&learn=on)