---
title: Analyse des résultats des tests d’AEM Cloud Manager
description: Explorer et corriger les résultats des rapports à partir d’AEM Cloud Manager
role: Developer
level: Beginner
type: Tutorial
topic: Development
feature: Developer Tools
kt: 6917
thumbnail: 330540.jpg
exl-id: 2ddd241a-0e8a-4397-8006-6f807be4fb12
source-git-commit: b3e9251bdb18a008be95c1fa9e5c79252a74fc98
workflow-type: tm+mt
source-wordcount: '0'
ht-degree: 0%

---

# Analyse des résultats des tests {#analyze-test-results}

>[!CONTEXTUALHELP]
>id="aemcloud_devops_testresult"
>title="Analyse des résultats des tests"
>abstract="Découvrez les erreurs de compilation dans votre code et déterminez si ce code suit les bonnes pratiques pour AEM as a Cloud Service"
>additional-url="https://experienceleague.adobe.com/docs/experience-manager-cloud-manager/using/how-to-use/understand-your-test-results.html?lang=fr#how-to-use" text="Présentation des résultats des tests"

Explorer les erreurs de compilation dans votre code et déterminer si ce code suit ou non les bonnes pratiques pour AEM as a Cloud Service

>[!VIDEO](https://video.tv.adobe.com/v/330540?quality=12&learn=on)
