---
title: Analyser les résultats des tests d’AEM Cloud Manager
description: Consulter et corriger les résultats des rapports d’AEM Cloud Manager
role: Developer
level: Beginner
type: Tutorial
topic: Development
feature: Developer Tools
jira: KT-6917
thumbnail: 330540.jpg
exl-id: 2ddd241a-0e8a-4397-8006-6f807be4fb12
source-git-commit: 30d6120ec99f7a95414dbc31c0cb002152bd6763
workflow-type: tm+mt
source-wordcount: '81'
ht-degree: 100%

---

# Analyser les résultats des tests {#analyze-test-results}

>[!CONTEXTUALHELP]
>id="aemcloud_devops_testresult"
>title="Analyser les résultats des tests"
>abstract="Découvrez les erreurs de compilation dans votre code et déterminez si ce code suit les bonnes pratiques pour AEM as a Cloud Service"
>additional-url="https://experienceleague.adobe.com/docs/experience-manager-cloud-manager/using/how-to-use/understand-your-test-results.html?lang=fr#how-to-use" text="Présentation des résultats des tests"

Découvrez les erreurs de compilation dans votre code et déterminez si ce code suit les bonnes pratiques pour AEM as a Cloud Service.

>[!VIDEO](https://video.tv.adobe.com/v/330540?quality=12&learn=on)
